body{
  background-color: white;
  color: #5a3e36;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: none;
}

.navbar{
  background-color: #212529 !important;
  color: white !important;
}

.navbar-brand, .nav-link{
  color: white !important;
}

.navbar button{
  color: white !important;
  background-color: white;
}

.navbar-logo {
  max-width: 50px; /* Adjust this value as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 5px;
}

/*top image*/

.topimage{
  width: 100%;
  height: 500px;
  overflow: hidden; /* Optional, hides the cropped parts */
}

.topimage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.topimage:after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 500px;
  background-color: rgba(0, 0, 0, 0.8); /* darkness level */
  pointer-events: none;
}

.header{
  display: flex;
  flex-direction: column;
  position: absolute;
  color:white;
  left: 0;
  top: 250px;
  text-align: center;
  margin-left: 200px;
  height: 200px;
  width: 400px;
  justify-content: space-between;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.buttons button{
  width: 150px;
  color: black;
  border-radius: 20px;
  border: none;
  background-color:  #f7f1e3;
  height: 40px;
}

.buttons button:hover{
  background-color: #5a3e36;
  color: white;
  cursor: pointer;
}

.rotating-coffee{
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 200px;
  width: 500px;
}
.rotating-coffee img {
  width: 400px; /* adjust size as needed */
  animation: rotateCoffee 20s linear infinite;
}

@keyframes rotateCoffee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-container{
  margin-top: 100px;
  text-align: center;
}

.menu-container h1{
  margin-bottom: 50px;

}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1000px;
}

.product-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: auto; /* Allow card to shrink dynamically */
  padding: 10px; /* Reduce padding for a more compact look */
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 300px; /* Reduced image height */
  object-fit: cover;
}

.product-card .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; /* Reduced padding */
  text-align: center;
}

.product-card h3 {
  margin: 5px 0; /* Reduced margin to bring text closer */
  font-size: 18px;
}

.product-card p {
  font-size: 14px;
  color: #7a5c4f;
  margin: 3px 0; /* Reduced spacing */
}
.amenities-container{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.amenities-container h1{
  margin-bottom: 50px;
}

.amenities{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1200px;
}

.amenities-card{
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 250px; /* Allow card to shrink dynamically */
  padding: 10px; /* Reduce padding for a more compact look */
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.amenities-card img{
  width: 50px;
  height: 50px;
}

/*About us*/
.about-container{
  text-align: center;
}

.aboutus{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1000px;
  margin-bottom: 100px;
}

.about-card{
  overflow: hidden;
  height: 250px; /* Allow card to shrink dynamically */
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.description{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  grid-column: span 2;
}


.about-card img{
  width: 100%;
  height: 300px; /* Reduced image height */
  object-fit: contain;
}

.whyus-container{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.why-us{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1200px;
}

.whyus-card{
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 250px; /* Allow card to shrink dynamically */
  padding: 10px; /* Reduce padding for a more compact look */
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.whyus-card img{
  width: 100px;
  height: 100px;
}

.gallery-container{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1200px;
}

.gallery-card{
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 250px; /* Allow card to shrink dynamically */
  padding: 10px; /* Reduce padding for a more compact look */
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.gallery-card img{
  width: 100%;
  height: 100%;
}

.videos-container{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.videos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1300px;
}

.videos-card{
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px; /* Allow card to shrink dynamically */
  padding: 10px; /* Reduce padding for a more compact look */
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.videos-card iframe{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*Testimonials*/
.testimonial-section {
  background: #e6e6e6;
  width: 1200px;
}


.testimonial-slide {
  background: transparent;
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  text-align: center;

}

.contactus-container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.contactus-container h1{
  text-align: center;
}

.contact-us{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 15px; /* Reduced gap to make cards closer */
  max-width: 1300px;
}

.contactus-card{
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px; /* Allow card to shrink dynamically */
  padding: 10px; /* Reduce padding for a more compact look */

}

.details{
  display: flex;
  flex: row;
  margin-bottom: 10px;
}
.details i{
  font-size: 30px;
  width: 80px;
  margin: 10px;
  text-align: center;
}
